{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <main>
        <h1 class="fs-xlarge bold">Login</h1>
        <br>
        <br>
        
        <form method="POST">
            {% csrf_token %}
            <div class="add-bar">
                {{ form.as_p }}
            </div>
            <br>
            <br>
            <input type="submit" value="Login" class="fs-large bold">
        </form>
        <br><br>
        <p class="fs-med">Don't have an account? <a href="{% url 'register' %}" class="color-blue">Register</a></p>
    </main>
</body>
</html>